.gridcontainer {
    display: grid;
    grid-template-rows: repeat(3,200px);
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.gridcontainer >* {
    border: 2px rgb(70, 130, 169) solid;
    background-color:rgb(82, 109, 130);
    color: rgb(221, 230, 237);
    width: 85%;
    margin-left: 70px;
    
    
}
h1{
    text-align: center;
}
.pro_main {
    background-color: rgb(39, 55, 77);
    height: 1200px;
}